[Unit]
Description=Fireactions Agent
Documentation=https://github.com/hostinger/fireactions
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/fireactions agent --log-level=info
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
