---
name: release

on:
  workflow_dispatch:
  push:
    branches:
    - main

permissions:
  packages: write
  contents: read
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        image:
        - ubuntu20.04
        - ubuntu22.04
        - ubuntu24.04
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Login to GHCR registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Set tag
      id: tag
      run: |
        echo ::set-output name=version::$(date +'%Y%m%d%H%M%S')

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        provenance: false
        context: "${{ matrix.image }}"
        file: "${{ matrix.image }}/Dockerfile"
        push: true
        platforms: linux/amd64,linux/arm64
        tags: |
          ghcr.io/hostinger/fireactions-images/${{ matrix.image }}:${{ steps.tag.outputs.version }}
          ghcr.io/hostinger/fireactions-images/${{ matrix.image }}:latest
